<div class="container">
  <div class="header">
    <h1>My Favorites ❤️</h1>
  </div>

  <div class="tabs">
    <button
      [class.active]="activeTab === 'characters'"
      (click)="activeTab = 'characters'"
    >
      Characters
    </button>
    <button
      [class.active]="activeTab === 'locations'"
      (click)="activeTab = 'locations'"
    >
      Locations
    </button>
    <button
      [class.active]="activeTab === 'episodes'"
      (click)="activeTab = 'episodes'"
    >
      Episodes
    </button>
  </div>

  @if (activeTab === "characters") {
    @if (characters.length > 0) {
      <ul class="app__cards">
        @for (item of characters; track item.id) {
          <li class="app__card" [routerLink]="['/character', item.id]">
            <app-character-card [character]="item"></app-character-card>
          </li>
        }
      </ul>
    } @else {
      <div class="empty-state">
        <p>You haven't liked anyone yet 💔</p>
        <a routerLink="/character">Go find some friends!</a>
      </div>
    }
  }
  @if (activeTab === "locations") {
    @if (locations.length > 0) {
      <ul class="locations-grid">
        @for (loc of locations; track loc.id) {
          <li>
            <app-location-card [location]="loc"></app-location-card>
          </li>
        }
      </ul>
    } @else {
      <div class="empty-state">
        <p>You haven't liked anyone yet 💔</p>
      </div>
    }
  }
  @if (activeTab === "episodes") {
    @if (episodes.length > 0) {
      <ul class="episode-grid">
        @for (item of episodes; track item.id) {
          <li>
            <app-episode-card [episode]="item"></app-episode-card>
          </li>
        }
      </ul>
    } @else {
      <div class="empty-state">
        <p>You haven't liked anyone yet 💔</p>
      </div>
    }
  }
</div>
