<div class="search-box">
  <input
    type="text"
    placeholder="Search episode..."
    (input)="onSearch($event)"
    class="search-input"
  />
</div>
<ul class="app__cards">
  @for (item of episodes; track item.id) {
    <li class="app__card" [routerLink]="['/episode', item.id]">
      <app-episode-card [episode]="item"></app-episode-card>
    </li>
  }
</ul>
<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (next)="nextPage()"
  (prev)="prevPage()"
></app-pagination>
