.app {
  &__image {
    width: 100%;
    height: 240px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 15px;
    div {
      margin: 0;
      color: #666;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__name {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #333;
  }

  &__status {
    font-size: 12px;
    color: #9e9e9e;
    &.dead {
      color: #d63d2e;
    }
    &.alive {
      color: #55cc44;
    }
  }

  &__species {
  }
}
.character-img-wrapper {
  position: relative;
}
